{
    "printWidth": 100,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "arrowParens": "always",
    "plugins": ["prettier-plugin-solidity"],

    "overrides": [
        {
            "files": "*.sol",
            "options": {
                "semi": true,
                "tabWidth": 4
            }
        },
        {
            "files": ["*.ts", "*.js"],
            "options": {
                "semi": false,
                "tabWidth": 4
            }
        }
    ]
}
